
/* === GENERAL === */
* {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* === BUTTONS === */

.btn-1 {
    background-color: #fff;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
    border-radius: 50px;
    border: 2px solid #fff;
    color: hsl(31, 77%, 52%);
    line-height: 0;
    transition: 0.2s;
}

.btn-1:hover {
    background-color: hsl(31, 77%, 52%);
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.btn-2 {
    background-color: #fff;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
    border-radius: 50px;
    border: 2px solid #fff;
    color: hsl(184, 100%, 22%);
    line-height: 0;
    transition: 0.2s;
}

.btn-2:hover {
    background-color: hsl(184, 100%, 22%);
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.btn-3 {
    background-color: #fff;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
    border-radius: 50px;
    border: 2px solid #fff;
    color: hsl(179, 100%, 13%);
    line-height: 0;
    transition: 0.2s;
}

.btn-3:hover {
    background-color: hsl(179, 100%, 13%);
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}


/* === PREVIEW CARD === */


.container {
    display: flex;
}

.container p {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 5rem;
    opacity: 0.6;
}

#sedans, #suv, #luxury {
    height: auto;
    width: 320px;
    padding: 3rem 3.5rem 3rem 3rem;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

@media (max-width: 960px) {
    .container {
        flex-direction: column;
    }

    body {
        position: absolute;
        top: 120%;
    }

    #sedans {
        border-radius: 10px 10px 0 0;
    }
    
    #luxury {
        border-radius: 0 0px 10px 10px;
    }

}